body
{
    margin: 0;
    padding: 0;
    background-color: #f5f5dc;
    font-family: 'Arial';
}
.login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #d6d6d6;
    border-radius: 15px;
}